{% extends "base.html" %}
{% block content %}

<h2>Sura — {{ story.title }}</h2>

<a href="{% url 'chapter_create' story.id %}">+ Ongeza Sura</a>
<hr>

{% for chapter in chapters %}
  <div style="border:1px solid #ddd;padding:10px;margin-bottom:8px">
    <strong>Sura {{ chapter.order }}:</strong> {{ chapter.title }}
    <div style="margin-top:6px">
      <a href="{% url 'chapter_edit' chapter.id %}">Hariri</a>
    </div>
  </div>
{% empty %}
  <p>Hakuna sura bado.</p>
{% endfor %}

{% endblock %}
