{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width:600px;margin:auto;text-align:center;background:#fff;border:1px solid #e5e5e5;border-radius:12px;padding:24px;">

  <h2>Lipia Kusoma</h2>

  <p>
    You can already read chapter 1 to {{ free_chapter_limit }} for free.
    To continue reading <strong>{{ story.title }}</strong>, please complete payment using M-Pesa.
  </p>

  <div style="margin:20px 0;font-size:18px;">
     <strong>Send payment to:</strong><br>
    <span style="font-size:22px;">0621932919</span>
  </div>



  <ul style="text-align:left;max-width:450px;margin:20px auto;line-height:1.7;">
    <li>Name: Ian Moshi</li>
    <li>Take a screenshot of your receipt</li>
    <li>Send the screenshot to the number above</li>
    <li>Your account will be activated and all chapters will open</li>
  </ul>

  <p style="margin-top:20px;color:#666;">Thank you for supporting Qissa.</p>
</div>
{% endblock %}
